.cursor-pointer {
    cursor: pointer;
}

.bg-blue-theme {
    background-color: #1f2863;
}


.text-blue-theme {
    color: #1f2863;
}

.container-margin-top {
    margin-top: 100px;
}

.nav-login-dropdown{
    width: 300px !important;
}

.nav-login-dropdown .dropdown-item i {
    width: 30px;
}

.mini-accordion-button-header {
    height: 40px !important;
} 

.profile {
    position: relative;
}
  
.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

.profile:hover .image {
    opacity: 0.3;
}
  
.profile:hover .middle {
    opacity: 1;
  }
  