.cursor-pointer {
    cursor: pointer;
}

.bg-blue-theme {
    background-color: #1f2863;
}


.text-blue-theme {
    color: #1f2863;
}

.container-margin-top {
    margin-top: 100px;
}

#nav-login-dropdown{
    width: 300px !important;
}

#nav-login-dropdown i {
    width: 30px;
}

.mini-accordion-button-header {
    height: 40px !important;
} 